/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom styles */

* {
    box-sizing: border-box;
}

body {
    background-color:  rgb(9, 38, 38);
}

/* header */


.header {
    font-size: 0;
    background-color: rgb(23, 81, 81);
    padding: 10px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;

}

.brand img{
    width: 200px;
}

.brand, nav {
    display: inline-block;
    vertical-align: middle;
}

.nav {
    width: calc(100% - 200px);
    font-size: 26px;
    text-align: right;
}

.nav a {
    margin-left: 96px;
    text-transform: uppercase;
    text-decoration: none;
    color: chartreuse;
}

/* arcticle */

.article {
    font-size: 0;
    padding: 90px 0;
    margin-top: 50px;
    margin-bottom: 90px;
}

.article img {
    width: 100%;
}

.col {
    width: 50%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
}

.article-heading {
    font-size: 46px;
    color: chartreuse;
    margin-bottom: 20px;
}

.article-text {
    font-size: 24px;
    color: chartreuse;
}


/* footer */

.footer {
    background-color: rgb(23, 81, 81);
    text-align: center;
    padding: 50px;
    margin-top: 150px;
}

.footer a {
    text-transform: uppercase;
    font-size: 26px;
    color: chartreuse;
    margin-right: 80px;
    margin-left: 80px;
}
