/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom style */

*::before,
*::after,
* {
	box-sizing: border-box;
}

body {
	font-size: 20px;
	line-height: 1;
}

.padding {
	padding: 80px 32px;
}

.container {
	width: 1350px;
	margin: 0 auto;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* header */

.header {
	background-color: rgb(65, 26, 65);
	padding: 10px;
}

.brand img {
	width: 120px;
}


.nav a {
	font-size: 24px;
	text-decoration: none;
	margin-left: 44px;
	color: aliceblue;
}

/* sidebar */

.sidebar {
	background-color: aquamarine;
	flex: 0 1 30%;
	padding: 30px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 20px;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
}

.sidebar-nav a {
	font-size: 24px;
	text-decoration: none;
	padding: 60px;
	color: blueviolet;
	text-transform: capitalize;
	font-weight: 700;
}

.sidebar-nav .active {
	border: 3px solid orange;
	color: orange;
}

.btn {
	font-size: 26px;
	font-weight: bold;
	width: 100%;
	text-transform: capitalize;
	text-align: left;
	border-radius: 8px;
}

.btn img {
	width: 50px;
	vertical-align: middle;
	margin-left: 7px;
}

/* article */

.article {
	flex: 0 1 60%;
	background-color: rgb(204, 179, 227);
	padding: 32px;
	border-radius: 20px;
}

.article img {
	width: 100%;
	border-radius: 10px;

}

h1 {
	font-size: 66px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 30px 0;
}

p {
	font-size: 24px;
	line-height: 1.2;
}

.readmore-btn {
	font-size: 30px;
	background-color: rgb(10, 192, 10);
	padding: 12px;
	text-transform: capitalize;
	display: inline-block;
	text-decoration: none;
	margin-top: 20px;
	border-radius: 10px;
	color: #fff;
	font-weight: 700;
}

/* footer */

.footer {
	background-color: rgb(65, 26, 65);
	padding: 40px;
}

small {
	font-size: 24px;
	color: #fff;
}

.footer-nav a {
	margin-left: 40px;
	color: #fff;
} 